.topCategoriesContainer {
   width: 100%;
   height: 50.8rem;
   margin-top: 8rem;
   border: 5px solid mediumpurple;
   .heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30rem;

      .title {
         color: #272343;
         font-family: Inter;
         font-size: 3.2rem;
         font-style: normal;
         font-weight: 600;
         line-height: 110%; /* 3.52rem */
         text-transform: capitalize;
      }
   }
}